@import "normalize.styl"
@import "font.styl"
fondo= #FAFAFA
gris-claro= #98979C
negro= #262626
grisclaro = #515151
gris-nav=#666666



body
	
	font-size 16px
	background fondo
	
	footer
		font-family 'soberana'
		background grisclaro
		color rgba(white,0.7)
		text-align center
		
		width 100%
		bottom 0
		
		h3
			font-size 14px
			font-weight normal
			margin 0
			padding 1.3em
			strong
				display block
				margin 0
.container
	margin 16px auto 0
	
	a
		text-decoration none
	
	figure
		margin 0
	
	header
		font-family 'soberana'
		
		color gris-claro
		overflow hidden
		.logo1
			
			width 280px
			a
				img
					height 80px
					width 272px

		.logo2
			top 20px
			right 50px

			a
				img
					height 50px
					width  53px
		.titular
			margin 0 150px 0 100px
			top 25px
			left 40%
			.titulo
				font-size 35px
				margin 0
				padding 0
				

	
	
	    
	.icon-uniE617
			    display none
			    color white
			    right 1px
			    font-size 1.5em
			    float  right
				width  60px
			    height  60px
			    opacity .6

	.nav-active
		opacity 1

			    
			    
			    
	
	nav
		font-family 'soberana'
		background  grisclaro
		box-shadow 0 4px 4px rgba(0, 0, 0, 0.3 )
		z-index 1
		padding 1px
		
			
		&:before
			border-bottom 20px  solid transparent
			border-left 7px solid gris-claro
			border-top 20px solid transparent
			content ""
			left 0
			position absolute
			top 0
		&:after
			border-bottom 20px  solid transparent
			border-right 7px solid gris-claro 
			border-top 20px solid transparent
			content ""
			right 0
			position absolute
			top 0

		.menu
			text-align center
			margin 0
			padding-bottom 3px
			
								
			li
				display inline-block
				a 
					color white
					background grisclaro
					display inline-block
					margin 0 1em
					padding .5em
					padding-left 1.5em
					padding-right 1.5em
					&:hover
						background #2a2d33


	
	.canvas
		h2
			text-align center
		.ca
			margin-left auto !important
			margin-right auto !important
			width 500px
			
			


.left
	float left
.right
	float right
.relative
	position relative
.absolute
	position absolute


@media screen and (min-height: 600px)
	footer
		position absolute
@media screen and (max-width: 500px)
	header
		display none
	.icon-uniE617
		display block !important
		position absolute
		top 0
		left 40%


	.ca
		display none
	
	#menucito
		width 100%
		float none
		padding-top 50px
		ul
			box-shadow 0 1px 2px rgba(0,0,0,.5)
			max-height 0
			overflow hidden
		ul.open-menu
				max-height 400px
				transition max-height .4s
		ul
			background #515151
			border-bottom 1px solid #515151
			float none

			li
				background #515151
				border-bottom 1px solid #515151
				float none
                &:last-child
                	border-bottom 0
            a
            	padding 15px 0
            	height auto
            	line-height normal
            	&hover
            		background #2a2d33

	.logo2,.logo1
		display none
		